/*================================
Banner Area
===================================*/
.ab-inner-banner {
  position: relative;
  background-position: center center;
  background-size: cover;
}

.inner-bg3 {
  opacity: 0.9;
}

.ab-inner-banner::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--blackColor);
  opacity: 0.6;
}
/*================================
About Area
===================================*/
  .about-area {
    margin-bottom: 80px;
    /* margin-top: 50px; */
  }
  
  .about-img {
    /* justify-content: center; */
    float: right;
    position: relative;
    z-index: 1;
  }
  
  .about-content {
    max-width: 610px;
  }
  
  .about-content .section-title {
    margin-bottom: 20px;
  }
  
  
/*================================
  Work Area Two
 ===================================*/

  .work-area-two {
    position: relative;
    z-index: 1;
    background-image: url(../images/work-img2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .work-area-two::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--whiteColor);
    opacity: 0.9;
  }
  
  .work-img-three {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
  }
  
  .work-img-three .line {
    position: absolute;
    z-index: -1;
    top: 30px;
    left: -30px;
  }
  
/*================================
    Solutions Area
  ===================================*/
  
   .about-card {
     background-color: var(--whiteColor);
     padding-top: 25px;
     border-radius: 5px;
   }
   /*  position: relative;
    z-index: 1;
    margin-bottom: 30px;
    position: relative; 
    padding: 35px 40px; 
    z-index: 1;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  } */

  .service-img1,  .service-img2{
    height: 210px;
    width: 230px;
    border-radius: 5px;
  }

  .service-img3{
    height: 210px;
    width: 240px;
    border-radius: 5px;
  }





/*================================
    Services Area
  ===================================*/
  .services-card .service-icon {
    font-size: 55px;
    color: var(--redColor);
    line-height: 1;
    margin-bottom: 10px;
  }
  
  .services-card h3 {
    margin-bottom: 15px;
  }

  .services-card::before {
    background-color: var(--blackColor);
  }

  .services-card:hover .service-icon {
    color: var(--whiteColor);
  }
  
  .services-card:hover h3 a {
    color: var(--redColor);
  }
  











 /* 

  .services-card .services-bottom .services-bottom-btn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: var(--orangeColor);
    right: 0;
    z-index: -1;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-radius: 5px;
  }
  
  .services-card .services-bottom .services-bottom-btn:hover {
    color: var(--whiteColor);
  } */

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* .about-area {
    margin-bottom: 60px;
  } */
  .about-img .line img {
    height: 450px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px){
/* .about-area {
    margin-bottom: 60px;
}  */
}