
/*/////// How  ///////////*/
.howItWorks{
padding-top: 50px;
padding-bottom: 50px;
display: flex;
margin: auto;
width: 100%;
}

.howBg{
    background-image: url("../images/medium-shot-people-chatting-work.jpg");

}

.howBox{
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: inline;

}

.howBox.red{
    background-color: var(--redColor);
    color: var(--blackColor);
}

.howBox.white{
    background-color: var(--whiteColor);
}

.howh3{
    color: var(--redColor);
    text-align: center;
    font-size: 40px;
    font-family: var(--bodyFonts);}

.howImg{
    justify-content: center;
    height: 30px;
    width: 30px;
}
.howP{
    color: var(--whiteColor);
    font-size: 15px;
    text-align: center;
 
}

.howP.black{
    color: var(--blackColor);

}

/*///////Who ///////////*/

.who-title{
width: 80%;
margin: auto;
justify-content: center;
text-align: center;
}
.who-titleh2{
  font-size: 35px;
    }

    .who-titlep{
        font-size: 15px;
        vertical-align: middle;
        width: 100%;
        margin: auto;
          }

.services-area{
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--blueColor);
}

.services-card.who{
    margin:10px;
}

.service-p{
    max-width: none!important;
}

.row.justify-content-center.who{
    width: 100%;
    padding-right: 20px;
}

