.inner-bg1 {
  padding-bottom: 30px;
}
.inner-banner.pricing{
height: 900px;
}

.banner-pricing{
  padding: 150px;
  padding-left: 100px;
  
}
.banner-price-h1{
  font-size: 56px;
  margin-bottom: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.banner-price-p{
  width: 60%;
  font-size: 18px;
  margin-bottom: 25px;
  color: var(--whiteColor);
}

.price-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

.price-table{
  background-color: var(--blackColor);
}
.priceHR {
  color: var(--blackColor);
  height: 2px;
}
.pricing-h3 {
  padding: 30px;
  padding-left: 90px;
  color: var(--whiteColor) !important;
  text-align: left;
  width: 70%;
  font-size: 25px;
}

.price-col {
  border-radius: 10px;
  background-color: var(--redColor);
  z-index: 1;
}

.pricing-desc {
  padding: 30px;
  padding-left: 90px;

  color: var(--whiteColor);
  text-align: left;
  width: 60%;
  font-size: 15px;
}

.price-container {
  width: 90%;
  margin: auto;
  margin-bottom: 70px;
}

.price-row {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  border-radius: 10px !important;
}

.p-crystal,
.p-crystal2,
.p-designs,
.p-slay,
.p-gold {
  background: var(--whiteColor);
  padding: 10% 15%;
  color: aliceblue;
  text-align: center;
  border-radius: 10px !important;
  margin-top: 10px;
  margin-right: 10px;
}

.price-col-p {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  color: var(--blackColor);
  background-color: var(--whiteColor);
}

.price-col-h3 {
  font-size: 44px;
  margin: 20px 0 40px;
  font-weight: 500;
  text-align: center;
}

.price-col-ul {
  margin: 20px 0;
  color: var(--blackColor);
  list-style: none;
  position: static;
  padding: 0;
}
.price {
  font-size: 30px;
}

.price-col-ul-li {
  margin: 15px 0;
  font-size: 12px;
  color: var(--blackColor);
}

.priceBooking-h3 {
  color: var(--blackColor);
  text-shadow: 2px 2px var(--blackColor);
  background-color: var(--whiteColor);
  margin: 50px 300px 30px 300px;
  padding: 10px 0px 10px 0px;
  font-size: 40px;
}

.priceBooking-p {
  color: aliceblue;
  margin: 25px 100px 50px;

  font-size: 25px;
}

.perMonth {
  color: var(--redColor);
  font-size: 13px;
  margin-bottom: 10px;
}

.plan-btn {
  color: var(--whiteColor);
  background-color: var(--blackColor);
  border-radius: 10px;
  font-size: 15px;
}

/*================================
Pricing Area
===================================*/
.price-table{
  padding: 100px;
}
.pricing-area {
padding: 20px;

}
.price-text{
  padding-top: 95px;
}
.priceh4{
  font-size: 40px;
}


.pricing-card {
  position: relative;
  border-radius: 30px;
  min-height: 250px;
  font-family: var(--bodyFonts);
  padding: 35px;

  margin: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.row {
  --bs-gutter-x: none;
}

.col-4,
.col-md-2,
.col-sm-3 {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: none !important;
  padding-right: none !important;
  ;
}

.compare-q{
  margin-top: 116px;
  list-style: none!important;
}

.card-2 {
  background-color: var(--whiteColor);
  color: var(--blackColor);
}
.pricing-card.card-1 {
  color: var(--blackColor);
  justify-content: left;
  background-color: var(--whiteColor);
  padding-top: 50px;
}
.h4-card-2 {
  color: var(--blackColor);
}

.pricing-card.boss-card {
  background-color: var(--whiteColor);
  color: var(--blackColor);
  border-radius: 30px;

box-shadow:  19px -19px 54px #9e263d,
             -19px 19px 54px #ff4e7d;

  

}

.boss-card-mum{
  background-color: var(--redColor);
  border-radius: 30px;
}


.compareHR {
  color: var(--whiteColor);
  height: 1px;
}

.compare-ul.compare {
  list-style: none;
}

.compare-li {
}





.pricing-card h4 {
  color: var(--blackColor);
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--bodyFonts);
}

.pricing-card h4 span {
  font-size: 14px;
  color: #a2a2a1;
}

.pricing-card ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.pricing-card ul li {
  display: block;
  margin-bottom: 10px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}







/*================================
Pricing Area
===================================*/

/*================================
What's Included
===================================*/
.includedSection {
  height: auto;
  background-color: var(--blackColor);
  padding: 100px;

  padding-top: 400px;
  padding-bottom: 100px;
  position: relative;
}
.included {
  
}

.included-text{
  padding-top: 50px;
}

.includedh4 {
  text-align: left;
  font-size: 40px;
  padding-right: 40px;
  color: var(--whiteColor);
  /* margin-bottom: 70px; */
  font-weight: 600;
  line-height: 1.2;

}

.includedImg {
    height: 336px;
    border-radius: 13px;
    background-color: var(--bgColor);
    padding-top: 10px;
    border-radius: 10px;
    padding-right: 10px;
}


.included-ul {
  background-color: var(--whiteColor);

  border-radius: 10px;
  list-style: none;
  margin: 0;
  padding: 30px;
  padding-bottom: 10px;
}

.included-li {
  height: 34px;
  margin-top: 15px;
  margin-bottom: 21px;
  color: var(--blackColor);
  font-size: 18px;
  
}
.included-li::before {
  content: "✓";
  padding-right: 50px;
}

.col-md-4 {
  padding-right: 20px;
}

/*================================
What's Included
===================================*/



/*================================
VS Cards
===================================*/

.vsSection {
 
  padding-top: 70px;
  padding-bottom: 70px;
  background-position: center center;
  background-size: cover;

}

.vsprice{
  width: 50%;
  margin: auto;
}

.vsimg{background-color: var(--whiteColor);

}

.vs-img{
  padding-top: 272px;
  width: 200%;
  max-width: none;
  max-height: none;
  margin-left: -53%;
}

.vs {
  margin-top: -50px;

  color: var(--redColor);
}

.col-5.a {
  justify-content: center;
  border-radius: 10px;
  background-color: var(--whiteColor);

  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;

}
.col-5.b {
  justify-content: center;
  border-radius: 10px;
  background-color: var(--redColor);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;

}

.col-5.a:hover {
transform: scale(1.05, 1.05);

box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.col-5.b:hover  {
  transform: scale(1.05, 1.05);

  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }

.vs-img-2{
 
  width: 94%;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 10px;

}

.vsCardA,
.vsCardB {
  justify-content: center;
  color: var(--blackColor);
  border-radius: 10px;
  border: 0.5px;
  margin: 5px;
  padding-bottom: 10px;
  background-color: var(--whiteColor);

}

.vsCardA {
  border-color: var(--blackColor)!important;
}

.vsCardB {
  border-color: var(--redColor);
  margin: 2px;


}

.vsCardAul,
.vsCardBul {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.vsCardAh6,
.vsCardBh6 {
  color: var(--blackColor);
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.vsCardAli,
.vsCardBli {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}






























/*================================
VS Cards
===================================*/

/*================================
Media Queries
===================================*/
@media only screen and (max-width: 990px) {
 .vs-img{
  padding-top: 217px;
  width: 300%;
  max-height: none;
  margin-left: -102%;
 }
}
@media only screen and (max-width: 940px) {
.price-text{
  width: 100%;
}
.pricing-area{
  width: 100%;
}
}
@media only screen and (max-width: 940px) {
  .vsprice{
    width: 80%;
  }
}


@media only screen and (max-width: 831px) {
  .price-col-p {
    font-size: 15px;
  }
  .price {
    font-size: 20px;
  }
  .price-col-ul-li {
    font-size: 12px;
  }
  .perMonth {
    font-size: 10px;
  }
  .vsprice{
    width: 90%;
  }
}

@media only screen and (max-width: 735px) {
  .vsprice{
    width: 100%;
  }
}


@media only screen and (max-width: 724px) {
  .price-col-p {
    font-size: 12px;
    padding-bottom: 0;
  }
  .price {
    font-size: 18px;
  }
  .price-col-ul-li {
    font-size: 10px;
  }
  .perMonth {
    font-size: 8px;
  }

  .price-row {
    grid-gap: 10px;
  }
  .plan-btn {
    font-size: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .pricing-h3 {
    padding: 0px;
    padding-left: 40px;
  }
  .pricing-desc {
    padding: 0px;
    padding-left: 40px;
    padding-top: 30px;
  }

  .price-col-p {
    font-size: 10px;
  }
  .price {
    font-size: 15px;
  }
  .price-col-ul-li {
    font-size: 8px;
  }
  .perMonth {
    font-size: 7px;
  }

  .price-row {
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .price-row {
    display: block;
  }

  .price-col-p {
    font-size: 20px;
  }
  .price {
    font-size: 30px;
  }
  .price-col-ul-li {
    font-size: 15px;
  }
  .perMonth {
    font-size: 15px;
  }

  .price-row {
    grid-gap: 10px;
  }

  .price-col {
    margin: auto;
    width: 60%;
  }
  .pricing-desc {
    padding-bottom: 20px;
    width: 80%;
  }
  .plan-btn {
    font-size: 15px;
  }
}

/*  */

@media only screen and (max-width: 570px) {
  .vsCardB,
  .vsCardA {
    padding: 0;
    margin: 0px;
    padding-bottom: 5px;
  }
  .vsCardB {
    margin: 5px;
  }
  .vsCardA {
    margin-right: 10px;
  }

  .vsCardAul {
    padding-left: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .vs {
    margin-top: 150px;
  }
}


@media only screen and (max-width: 487px) {
  .vsCardAul,.vsCardBul{
    font-size: 10px;
  }
  div.col-1{
    visibility: hidden;
    display: none;
  }
}

@media only screen and (max-width: 480px) {
.vsCardAh6,.vsCardBh6{
  font-size: 20px;
}
 
  .vs {
    margin-top: 110px;
  }
 
  .vsCardAul {
    padding-left: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .vsCardBli,
  .vsCardAli {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
.col-5.a{
  margin-right: 2px;

}
.col-5.b{
  margin-left: 2px;
}
.vs-img-2{padding-top: 5px;
border-radius: 40px;}

}



@media only screen and (max-width: 400px) {
 
  .vs {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 377px) {
  
  
  .vs {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 370px) {
  .vsCardBli.noHassle {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 339px) {
  .vsCardBli.efficient {
    padding-bottom: 30px;
  }
}

/*================================
Whats Included Media Queries
===================================*/

@media only screen and (max-width: 1149px) {
  .included-li:before {
    content: none!important;
  }
}


@media only screen and (max-width: 1001px) {
  .included-li:before {
    padding-right: 20px!important;
  }
}

@media only screen and (max-width: 1110px) {
  .included-li:before {
    content: none!important;
  }
}
@media only screen and (max-width: 925px) {
  .included-li.easily{
    margin-bottom: 30px!important;
  }
}


@media only screen and (max-width: 767px) {
  .included-li.easily{
    margin-bottom: 0px!important;
  }
}

@media only screen and (max-width: 539px) {
  .included-li.easily{
    margin-bottom: 30px!important;
  }
}


@media only screen and (max-width: 467px) {
  .included-li.zoom{
    margin-bottom: 30px!important;
  }
}

@media only screen and (max-width: 381px) {
  .included-li.manager{
    margin-bottom: 30px!important;
  }
}

@media only screen and (max-width: 350px) {
  .included-li.assistant{
    margin-bottom: 30px!important;
  }
}

@media only screen and (max-width: 345px) {
  .included-li.reporting{
    margin-bottom: 30px!important;
  }
}

@media only screen and (max-width: 338px) {
  .included-li.time{
    margin-bottom: 30px!important;
  }
}
@media only screen and (max-width: 330px) {
  .included-li.mind{
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .compare-h4 {
    font-size: 20px!important;
  }
  .compare-li {
    font-size: 13px!important;
  }
}

@media only screen and (max-width: 514px) {
  .pricing-card {
    padding: 20px!important;
  }
  .compare-h4 {
    font-size: 16px!important;
  }
}

@media only screen and (max-width: 423px) {
  .compare-li.easy {
   padding-bottom: 21px!important;
  }
  .compare-li.replacement {
    padding-bottom: 21px!important;
   }
}
@media only screen and (max-width: 390px) {
  .compare-li.easy {
   padding-bottom: 0px!important;
  }
  
}



