* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html, body {
    overflow: hidden;
} */

.inner-title.pb-70{
    padding-left: 200px;
    }
    

.ab-inner-banner {
    position: relative;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.ab-inner-banner::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
}

.outer-box {
    border: 70px solid #EF3A5D;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: 10px; */
    width: 100%;
}

.grid-item {
    padding: 20px;
    text-align: center;
}


/* review section code*/

.business-tips {
    padding: 20px;
    margin-top: 0px;
}

.title-box {
    padding: 60px;
    text-align: center;
}

.title-box h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;

}

.title-box h5 {
    text-align: center;
    margin-bottom: 20px;

}

.review-container {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    gap: 30px;
    width: 100%;
}

.review-img {
    /* object-fit: cover; */
    padding: 35px;
    background-color: var(--whiteColor);
    border-radius: 10px;
    text-align: center;
}

.review-img1{
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    width: 87%;
}

.review-img2{
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.review-item {
    text-align: left;
    border-radius: 5px;
}

.item1 {
    margin-bottom: 15px;
}

.article-title{
    margin-top: 10px;
}

.article-date{
    margin-top: 10px
}

.read-more{
    text-decoration: none;
}

.read-more:hover{
    color: var(--redColor)
}

.review-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* MEDIA QUERIES */

@media (min-width: 400px) {
    .ab-inner-banner {
        height: auto;
    }

    .banner-content {
        font-size: 16px;
    }

    .banner-content-p {
        font-size: 10px;
    }
}

@media only screen and (min-width:528px) and (max-width: 575px){
    .ab-inner-banner {
        height: auto;
    }

    .banner-content {
        font-size: 16px;
    }

    .banner-content-p {
        font-size: 10px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1000px){
    .ab-inner-banner {
        height: auto;
    }

    .banner-content {
        font-size: 20px;
    }

    .banner-content-p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ab-inner-banner {
        height: auto;
    }

    .banner-content {
        font-size: 24px;
    }

    .banner-content-p {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item {
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        padding: 5px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 767px) {
    .miniFaqSection {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .miniFaqQ {
        font-size: 15px;
    }

    .accordion:after {
        padding-top: 4px;
    }
}


@media (max-width: 500px) {

    .review-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 400px) {

    .aboveFooterSection {
        padding: 20px;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .aboveFooterh4 {
        font-size: 17px;
    }

    .aboveFooterP {
        font-size: 10px;
    }

    .miniFaqSection {
        padding: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .miniFaqh4 {
        font-size: 40px;
    }

    .miniFaqTag {
        font-size: 12px;
    }

    .accordion:after {
        padding-top: 2px;
    }
}

@media only screen and (min-width: 528px) and (max-width: 575px) {

    .aboveFooterSection {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .aboveFooterh4 {
        font-size: 25px;
    }

    .aboveFooterP {
        font-size: 15px;
    }

    .aboveFooter-btn {
        padding: 20px 20px;
    }

    .miniFaqSection {
        padding: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .miniFaqQ {
        font-size: 15px;
    }

    .miniFaqTag {
        font-size: 15px;
    }

    .accordion:after {
        padding-top: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .aboveFooterh4 {
        font-size: 35px;
    }

    .aboveFooterP {
        font-size: 20px;
    }

    .miniFaqSection {
        padding: 50px;
    }

    .miniFaqQ {
        font-size: 15px;
    }

    .accordion:after {
        padding-top: 7px;
    }
}

@media only screen and (max-width: 1500px) {
    .inner-title.pb-70{
        margin-right: 100px;
        padding-left: 100px;
        }
}

@media only screen and (max-width: 850px) {
    .inner-title.pb-70{
        margin-right: 50px;
        padding-left: 60px;
        }
}

@media only screen and (max-width: 500px) {
    .inner-title.pb-70{
       padding-top:  10px;
        padding-left: 20px;
        }
}

@media only screen and (max-width: 400px) {
  .banner-content.h1.banner-title{
    font-size: 30px!important;
    
  }
  .banner-content-p{
    font-size: 15px!important;
  }
}


